.container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 80%;
	margin: 1rem 0rem;
	grid-gap: 0.5rem;
}
.container div{
	border: 2px solid #038ad440;
}
.container div.activeTile{
	border: 2px solid #038ad4;
}
